build/
build-*/
data/
ci/
CTestConfig.cmake
*__pycache__

# GXF Extensions
*.so

# Utilities
aggregate_metadata.json
/dist/
/install/
.cache/
.cupy/
.devcontainer/devcontainer.json
.github/dependabot.yml
.hypothesis/unicode_data/12.1.0/charmap.json.gz
.local/*
.vscode/launch.json
.docker/buildx/.lock
.bash_history
