[user]
	mail = pierre.perick@gmail.com
	name = td
	email = t.dethier@deltacast.tv
[safe]
	directory = /home/orin/Projects/PP/holohub-deltacasttv/sdk
	directory = /home/orin/Projects/PP/holohub-deltacasttv/sdk/lib/FindWDK
	directory = /home/orin/Projects/PP/holohub-deltacasttv/sdk/lib/software_signing_service
	directory = /home/orin/Projects/PP/holohub-deltacasttv/sdk/lib/cpp_api
[credential]
	helper = "!f() { /workspace/holohub/.vscode-server/bin/0f0d87fa9e96c856c5212fc86db137ac0d783365/node /tmp/vscode-remote-containers-06f96bb5-85f5-4bc1-ab08-034aac8b4027.js git-credential-helper $*; }; f"
