mkdocs-awesome-nav
mkdocs-material
mkdocs-macros-plugin
mkdocs-minify-plugin
mkdocstrings[python]
mkdocs-gen-files
pymdown-extensions
mkdocs-jupyter
mkdocs-include-dir-to-nav
mkdocs-literate-nav
mkdocs-site-urls
mkdocs-git-revision-date-localized-plugin
mkdocs-mermaid2-plugin
mike
mistune
