anyio==4.12.*
chromadb==1.3.*
GitPython==3.1.*
gradio==6.1.*
httpx==0.28.*
httpx-sse==0.4.*
langchain==1.2.*
langchain-community==0.3.*
langchain-huggingface==1.2.*
langchain-chroma==1.1.*
langchain-text-splitters==0.3.*
mcp==1.24.*
numpy==2.3.*
openai==2.13.*
pydantic-core==2.41.*
pypdf==6.6.*
PyYAML==6.0.*
requests==2.32.*
safetensors==0.7.*
scipy==1.16.*
sentence_transformers==5.2.*
starlette==0.50.*
tiktoken==0.12.*
torch==2.9.*
transformers==4.57.*
uvicorn==0.38.*
