flask==3.1.3
websockets==12.0
asyncio==3.4.3
pillow==12.3.0
transformers==5.14.*
ninja~=1.11
deepspeed~=0.16
pydantic~=2.13
huggingface-hub[cli]==1.24.*
s2wrapper@git+https://github.com/bfshi/scaling_on_scales
