{
	"operator": {
		"name": "MyOperatorOp",
		"authors": [
			{
				"name": "John Doe",
				"affiliation": "My Institution"
			}
		],
		"language": "C++",
		"version": "0.1.0",
		"changelog": {
			"0.1.0": "Initial Release"
		},
		"holoscan_sdk": {
			"minimum_required_version": "3.0.0",
			"tested_versions": [
				"3.1.0"
			]
		},
		"platforms": [
			"amd64",
			"arm64"
		],
		"tags": [
			"Sensor",
            "Processing",
            "Example"
		],
		"ranking": 1,
		"dependencies": {}
	}
}