name: Check metadata validity

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main, holoscan-sdk-lws2]

jobs:
  check-metadata:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Utility Dependencies
        run: |
          python -m pip install -r ./utilities/requirements.txt

      - name: Run metadata_validator.py
        run: python utilities/metadata/metadata_validator.py

      - name: Run gather_metadata.py
        run: python utilities/metadata/gather_metadata.py
