name: Check metadata validity

on: [push, pull_request]

jobs:
  check-metadata:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Utility Dependencies
        run: |
          python -m pip install -r ./utilities/requirements.txt

      - name: Run metadata_validator.py
        run: python utilities/metadata_validator.py
