name: Generate Application Aggregate JSON

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Clone holohub Repository
        run: git clone https://github.com/nvidia-holoscan/holohub

      - name: Run gather.py
        run: python .github/workflows/gather.py

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Move aggregate_metadata.json
        run: mv aggregate_metadata.json dist/

      - name: Stage dist folder
        run: git add dist -f

      - name: Commit Changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Update dist folder"

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: dist
